.idea/.name
.idea/ebookdungeon.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
admin/.buildpath
admin/.project
admin/.settings/.jsdtscope
admin/.settings/org.eclipse.php.core.prefs
admin/.settings/org.eclipse.wst.common.project.facet.core.xml
admin/.settings/org.eclipse.wst.jsdt.ui.superType.container
admin/.settings/org.eclipse.wst.jsdt.ui.superType.name
